
{% include 'header.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'choco_app/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Chocolate House!</h1>
    <p>We offer a variety of seasonal chocolate flavors and prioritize quality ingredients. Our chocolates are crafted with passion and care to ensure the best possible experience for our customers.</p>
    <p>Located in Austin, Texas, we are dedicated to bringing you the finest chocolates made from locally sourced ingredients. We believe in sustainability and supporting our community.</p>
    <p>Join us in our journey to create delightful flavors that will tantalize your taste buds!</p>

{% include 'footer.html' %}
</body>
</html>
