{% include 'header.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'choco_app/styles.css' %}">
</head>
<body>
    <h1>Contact Us</h1>
    <p>If you have any questions, feel free to reach out!</p>

    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Send Message</button>
    </form>

{% include 'footer.html' %}
</body>
</html>
