{% include 'header.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavor Suggestion</title>
    <link rel="stylesheet" href="{% static 'choco_app/styles.css' %}">
</head>
<body>
    <h1>Submit Your Flavor Suggestion</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Submit Suggestion</button>
    </form>
</body>
</html>
{% include 'footer.html' %}