{% load static %}
{% include 'header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Ingredient</title>
    <link rel="stylesheet" href="{% static 'choco_app/styles.css' %}">
</head>
<body>
    <h1>Delete Ingredient</h1>
    <p>Are you sure you want to delete "{{ ingredient.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
   <a href="{% url 'ingredient_list' %}"><button>Cancel</button> </a>
</body>
</html>
{% include 'footer.html' %}