{% include 'header.html' %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Seasonal Flavor</title>
    <link rel="stylesheet" href="{% static 'choco_app/styles.css' %}">
</head>
<body>
    <h1>Update Seasonal Flavor</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Update Flavor</button>
</form>

</body>
</html>
{% include 'footer.html' %}